.main {
  padding-bottom: 100px;
}

.main__banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 145px;
  padding-bottom: 40px;
  border-radius: 16px;
  overflow: hidden;
}

.main__text {
  margin-bottom: 100px;
  padding-left: 112px;
  font-size: 70px;
  line-height: 130%;
}

.main__timer {
  text-align: center;
}

.main__timer-heading {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 5px;
}

.main__timer-text {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.main__days,
.main__hours,
.main__minutes {
  font-size: 32px;
  line-height: 130%
}

.main__num {
  font-size: 60px;
  line-height: 130%;
}

.grid {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 245px);
  grid-auto-rows: minmax(130px, 550px);
  grid-auto-flow: dense;
  gap: 60px;
}

.grid__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

.grid__item-book {
  background-image: url("../images/book.jpg");
  align-items: flex-end;
  padding: 0 35px 20px 20px;
  font-size: 30px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}

.grid__item-book .grid__item-span {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}

.grid__item-discount,
.grid__item-discount_bottom_right,
.grid__item-discount_top_left {
  padding: 25px 8px;
  background-color: #FFBD13;
  border-radius: 50%;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  position: absolute;
}

.grid__item-discount_bottom_right {
  bottom: 20px;
  right: 20px;
}

.grid__item-discount_top_left {
  top: 20px;
  left: 20px;
}

.grid__item-clock {
  background-image: url("../images/discount.jpg");
  padding: 78px 10px 0 14px;
  font-size: 30px;
  line-height: 130%;
}

.grid__item-sneackers {
  background-image: url("../images/sneackers.jpg");
  grid-area: span 2 / span 2;
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  padding: 0 20px 22px 20px;
}

.grid__item-sneackers .grid__item-text {
  align-self: flex-end;
  flex-basis: 100%;
  padding: 26px 24px;
  border-radius: 20px;
  background: #38C0EB;
}

.grid__item-sneackers .grid__item-span {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: block;
}

.grid__item-presents {
  background-image: url("../images/presents.jpg");
  grid-column: span 2;
  font-size: 40px;
  line-height: 130%;
  padding: 0 30px 30px 30px;
}

.grid__item-presents .grid__item-text {
  align-self: flex-end;
}

.grid__item-red-sneacker {
  background-image: url("../images/red-sneacker.jpg");
  grid-column: span 2;
  grid-row: 2;
}

.grid__item-benefit {
  background-image: url("../images/benefit.jpg");
  grid-column: span 2;
  font-size: 40px;
  line-height: 130%;
  padding: 0 30px 30px 30px;
}

.grid__item-benefit .grid__item-text {
  align-self: flex-end;
}

.grid__item-decor {
  background-image: url("../images/decor.jpg");
  grid-area: span 2 / span 4;
  color: #F91155;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  padding: 0 50px 50px 50px;
}

.grid__item-decor .grid__item-text {
  padding: 32px 41px;
  border-radius: 20px;
  background: #fff;
  align-self: flex-end;
}

.grid__item-dress {
  background-image: url("../images/dress.jpg");
  grid-row: span 2;
}

.grid__item-chemical {
  background-image: url("../images/chemiclas.jpg");
  font-size: 30px;
  line-height: 130%;
  padding: 0 40px 20px 20px
}

.grid__item-chemical .grid__item-text {
  align-self: flex-end;
}

.grid__item-toys {
  background-image: url("../images/toys.jpg");
}

@media (max-width: 1780px) {
  .grid {
    padding-top: 30px;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 217px) 418px;
  }

  .grid__item-benefit {
    grid-row: 4;
  }

  .grid__item-decor {
    grid-area: span 1 / span 4;
  }

  .grid__item-clock {
    padding-top: 58px;
  }
}

@media (max-width: 1340px) {
  .grid__item-book {
    padding: 0 18px 20px 9px;
    font-size: 24px;
  }

  .grid__item-book .grid__item-span {
    font-size: 30px;
  }

  .grid__item-clock {
    font-size: 24px;
    padding: 58px 10px 0 9px;
  }

  .grid__item-sneackers {
    font-size: 30px;
    padding: 0 22px 22px 22px;
  }

  .grid__item-sneackers .grid__item-text {
    padding: 29px 25px;
  }

  .grid__item-sneackers .grid__item-span {
    font-size: 40px;
  }

  .grid__item-presents {
    font-size: 30px;
    padding: 0 57px 20px 20px;
  }

  .grid__item-benefit {
    font-size: 30px;
    padding: 0 20px 20px 20px;
  }

  .grid__item-decor {
    font-size: 40px;
    padding: 0 30px 40px 30px;
  }

  .grid__item-decor .grid__item-text {
    padding: 24px 46px;
    border-radius: 16px;
  }

  .grid__item-chemical {
    font-size: 20px;
    padding: 0 20px 10px 10px
  }
}

@media (max-width: 1040px) {
  .main__banner {
    padding-top: 80px;
    padding-bottom: 36px;
  }

  .main__text {
    max-width: 400px;
    margin-bottom: 11px;
    padding-left: 80px;
    font-size: 40px;
    line-height: 52px;
  }

  .main__timer-heading {
    margin-bottom: 10px;
  }

  .main__timer-text {
    gap: 20px;
  }

  .main__days,
  .main__hours,
  .main__minutes {
    font-size: 20px;
  }

  .main__num {
    font-size: 40px;
  }


}

@media (max-width: 940px) {
  .grid {
    padding-top: 40px;
    gap: 20px;
  }

  .grid__item-clock {
    padding: 15px 10px 0 5px;
  }

  .grid__item-sneackers {
    font-size: 16px;
    line-height: 110%;
    padding: unset;
    padding: 0 10px 10px 10px;
  }

  .grid__item-sneackers .grid__item-text {
    padding: 16px 14px;
    font-weight: 400;
  }

  .grid__item-sneackers .grid__item-span {
    font-size: 26px;
    line-height: 110%;
    display: inline;
  }

  .grid__item-discount,
  .grid__item-discount_bottom_right,
  .grid__item-discount_top_left {
    padding: 15px 6px;
    font-size: 16px;
    line-height: 130%;
  }

  .grid__item-discount_bottom_right {
    bottom: 10px;
    right: 10px;
  }

  .grid__item-discount_top_left {
    top: 10px;
    left: 10px;
  }

  .grid__item-book {
    padding: 0 5px 15px 10px;
    font-size: 20px;
    line-height: 110%;
  }

  .grid__item-book .grid__item-span {
    font-size: 26px;
  }

  .grid__item-clock {
    font-size: 16px;
  }

  .grid__item-presents {
    font-size: 16px;
    line-height: 120%;
  }

  .grid__item-benefit {
    font-size: 16px;
    padding: 0 20px 20px 20px;
  }

  .grid__item-decor {
    font-size: 20px;
    padding: 0 26px 26px 26px;
  }

  .grid__item-decor .grid__item-text {
    padding: 22px 33px;
    border-radius: 12px;
  }

  .grid__item-chemical {
    font-size: 16px;
    padding: 0px 14px 14px;
  }

}


@media (max-width: 768px) {

  .main__banner {
    padding-top: 64px;
    padding-bottom: 30px;
  }

  .main__text {
    max-width: unset;
    margin-bottom: 82px;
    padding-left: 80px;
    font-size: 30px;
    line-height: 39px;
  }

  .main__timer-heading {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .main__timer-text {
    gap: 10px;
  }

  .main__days,
  .main__hours,
  .main__minutes {
    font-size: 16px;
  }

  .main__num {
    font-size: 30px;
  }

  .grid {
    grid-template-rows: repeat(2, 140px) repeat(4, 60px) 337px;
  }

  .grid__item-sneackers {
    grid-row: span 3;
  }

  .grid__item-presents {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }

  .grid__item-benefit {
    grid-row: 5 / 7;
    grid-column: 1 / 3;
  }

  .grid__item-dress {
    grid-row: span 3;
    background-position: top center;
  }

  .grid__item-chemical {
    grid-row: span 2;
  }
}

@media (max-width: 740px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 130px) 123px;
    gap: 20px;
  }

  .grid__item-book {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 12px;
    line-height: 110%;
  }

  .grid__item-book .grid__item-span {
    font-size: 16px;
    line-height: 110%
  }


  .grid__item-clock {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 12px;
    line-height: 130%;
    padding: 28px 10px 0 10px;
  }

  .grid__item-red-sneacker {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .grid__item-sneackers {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    font-size: 12px;
    line-height: 110%;
    text-align: center;
  }


  .grid__item-sneackers .grid__item-span {
    font-size: 16px;
  }

  .grid__item-presents {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    font-size: 12px;
    line-height: 120%;
    padding: 0 10px 16px 10px;
  }

  .grid__item-benefit {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    font-size: 12px;
    line-height: 120%;
    padding: 0 10px 16px 10px;
  }

  .grid__item-dress {
    grid-column: 1 / 2;
    grid-row: 7 / 9;
  }

  .grid__item-chemical {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    font-size: 12px;
    line-height: 120%;
    padding: 0 10px 10px;
    justify-content: center;
  }

  .grid__item-toys {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
  }


  .grid__item-decor {
    grid-column: 1 / 3;
    padding: 0 15px 15px 15px;
    font-size: 12px;
    line-height: 120%;
  }

  .grid__item-decor .grid__item-text {
    padding: 7px 41px;
    flex-basis: 100%;
    text-align: center;
  }



}

@media (max-width: 580px) {
  .main__banner {
    background-image: url("../images/banner-mobile.jpg");
    padding-top: 50px;
    padding-bottom: 30px;
    background-size: cover;
    background-position: center;
  }

  .main__text {
    max-width: unset;
    margin-bottom: 190px;
    padding-left: unset;
    font-size: 22px;
    line-height: 28.6px;
    text-align: center;
  }

  .main__timer-heading {
    font-size: 8px;
    margin-bottom: 6px;
  }

  .main__timer-text {
    gap: 8px;
  }

  .main__days,
  .main__hours,
  .main__minutes {
    font-size: 12px;
  }

  .main__num {
    font-size: 20px;
  }
}